<div class="info">
  <h5 class="mb-3">Assignment #9</h5>

  Display a list of all Pokemons & add a search field with which I can filter
  the list based on the search input
  <br />
  <br />

  Filter by Pokemon name<br />
  The filter mechanism should only trigger if:<br />
  <div class="ml-3">The value was changed</div>
  <div class="ml-3">The search input was not changed for at least 1 second</div>
</div>

<hr />
<p>Execute your assignment here</p>
<div class="assignment-playground">
  <input placeholder="Search..." matInput [formControl]="searchFormControl" />
</div>
