<div class="info">
  <h5 class="mb-3">Assignment #4</h5>

  Display a list with all Pokemons<br />
  Display a counter with how many Pokemons have been fetched <br />

  <b>Take subscription management & observable life times into account </b
  ><br />
  <b>The 'subscribe()' method must be used</b><br /><br />
  <i
    >Use the property `learned_by_pokemon` of the object `MoveDetails` to
    display this list
  </i>
</div>

<hr />
<p>Execute your assignment here</p>
<div class="assignment-playground">
  <h5>Pokemons</h5>

  <!-- Draw the list of Pokemons here -->
  <div>Number of Pokemons:</div>
</div>
